@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;

}


a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  position: fixed;
  background-color: #111;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;
  align-items: flex-start;
  z-index: 10;

}


nav svg {
  width: 10rem;
}

nav .nav-link {
  display: flex;
  gap: 3rem;
  font-size: 1.3rem;
  font-weight: 100;
  text-transform: uppercase;
  padding: 1rem 0;
  position: relative;
  z-index: 10;
}

nav .nav-link h4 {
  margin-bottom: 1rem;
}

.nav-link .nav-elem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.nav-link .nav-elem h5 {
  display: none;
  overflow: hidden;
}

.nav-link .nav-elem h5 span {
  font-size: 1.4rem;
  font-weight: 300;
  display: inline-block;
  opacity: 0;
}

nav .nav-link h4:hover {
  color: #605f5f;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

nav button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

nav button {
  font-size: 1.3rem;
  background-color: #0DA34E;
  border: none;
  padding: 1.1rem 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-weight: 500;

}


#nav-bottom {
  width: 85%;
  height: 0vh;
  position: absolute;
  background-color: #111;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid rgb(103, 102, 102);
}


#page1 {
   width: 100%;
   height: 100vh;
   background-color: #111;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   transform:scaleY(0.3) scaleX(0.7) ;
   -webkit-transform:scaleY(0.3) scaleX(0.7) ;
   -moz-transform:scaleY(0.3) scaleX(0.7) ;
   -ms-transform:scaleY(0.3) scaleX(0.7) ;
   -o-transform:scaleY(0.3) scaleX(0.7) ;
   border-radius:100px;
   -webkit-border-radius:100px;
   -moz-border-radius:100px;
   -ms-border-radius:100px;
   -o-border-radius:100px;
}




#page1 .AI_TEXT h1 {
  font-size: 8.5rem;
  font-weight: 900;
  line-height: 8.5rem;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}



#page1 .AI_TEXT h1 svg {
  height: 7rem;
  width: 7rem;
  background-color: #0DA34E;
  padding: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  margin: 0;
}


#page1 .AI_TEXT h1 svg:hover {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

#page1 p {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.4rem;
}

#page1 .link {
  font-size: 1.3rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#page1 .link a {
  padding: .5rem 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.3s linear;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page1 .link a:hover {
  background-color: #ffffff;
  color: #000;

}


#moving-div {
  width: 100%;
  position: absolute;
  bottom: 4%;
  width: 50%;
  white-space: nowrap;
  padding: 3rem;
  overflow: hidden;

}

#moving-div .move {
  display: inline-block;
  animation: moved 10s linear infinite;
  -webkit-animation: moved 10s linear infinite;
}

@keyframes moved {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }


}

#moving-div .move img {
  height: 1.6vw;
  margin: 1rem;
}


.blur-left {
  height: 100%;
  width: 20%;
  position: absolute;
  background: linear-gradient(to right, #111, transparent);
  backdrop-filter: blur();
  left: 0;
  top: 0;
  z-index: 2;
}

.blur-right {
  height: 100%;
  width: 20%;
  position: absolute;
  background: linear-gradient(to right, transparent, #111);
  right: 0;
  top: 0;
  z-index: 2;
}

#page2 {
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 4vw 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(95, 95, 95);



}

#page-left {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 2rem;


  & p {
    font-size: 1.7rem;
    line-height: 1.3;
    font-weight: 200;
  }

}

#page-left h5 {
  width: 80%;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2;
}

#page-right {
  width: 55%;
  height: 100%;
  /* background-color: #605f5f; */
}

.right-elem {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 8rem;
  border-bottom: 1px solid #555454;
}

.right-elem:first-child {
  border-top: 1px solid #555454;
}

.right-elem h2 {
  font-size: 1.8rem;
  padding: 0 1rem;
  font-weight: 500;
}

.right-elem img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  scale: 0
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: #111111;
  position: relative;
  background-image: url("./Screenshot\ 2024-07-29\ 195229.png");
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}



#page3 .page3-center {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  flex-direction: column;

}

#page3 .page3-center h5 {
  /*display: none;
  */
  color: black;
  opacity: 0;
  margin-top: 1rem;
  padding: 0.7rem 1.7rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  bottom: -2rem;
  font-size: 1.3rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  text-transform: uppercase;
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
}

#page3 .page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

#page3 .page3-center .icon {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page3 .page3-center .icon i {
  color: #000;
  font-size: 2rem;
}

#page3 video {


  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  -webkit-transform: scaleX(0.7) scaleY(0);
  -moz-transform: scaleX(0.7) scaleY(0);
  -ms-transform: scaleX(0.7) scaleY(0);
  -o-transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  z-index: 999;
}


#page4 {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem;
}

.page4left {
  width: 45%;
  height: 100%;
  text-align: center;
}

.page4left h2 {
  color: #000;
  font-size: 4rem;
  margin-top: 6rem;

}

.page4right {
  width: 50%;
  height: 100%;
  /* background-color: #010101; */
  color: #000;
  padding: 1rem 2rem;
}

.page4right {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.page4right h3 {
  color: #aeadad;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 3rem;
  font-weight: 400;
}

.page4right p {
  font-size: 2.2rem;
  margin-top: 4rem;
  color: #000;
  font-weight: 400;
  line-height: 1.2;
}


#page5 {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5rem;
  place-items: center;
  margin-bottom: 7rem;

}

#page5 .page5-box {
  width: 380px;
  height: 200px;
  background-color: #efeeee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.page5-box h1 {
  font-size: 5rem;
  color: black;
}

.page5-box .bottem-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #535353;
  }

  & span {
    font-size: 1.3rem;
    color: #5f5e5e;

  }
}


#page6 {
  min-height: 100vh;
  width: 100%;
  color: black;
  padding-bottom: 5rem;
  position: relative;
}


.page6box {
  width: 60%;
  height: 40vh;
  display: inline-block;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  padding: 4rem 2rem;

  & h3 {
    float: left;
    padding-right: 100px;
    padding-bottom: 20px;
    color: #969494;
    font-weight: 300;
    margin-top: 1rem;
    font-size: 1.1rem;


  }

  & p {
    font-size: 2.7rem;
    color: #000;
    line-height: 1.3;
    font-weight: 500;


  }
}

.section1 {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 12rem;
  padding-bottom: 0;
}

.Sect-left {
  height: 100%;
  width: 26%;
  border-top: 2px solid rgb(73, 72, 72);
  padding-top: 2rem;

}

.Sect-left h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 500;

}

.Sect-left p {
  font-size: 1.5rem;
  margin-top: 10rem;
  color: #000;
  text-transform: capitalize;
  line-height: 1.4;
}


.sect-right {
  width: 70%;
  height: 100%;
  position: relative;

}


.sect-right .circle-blue{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: blue;
  position: absolute;
  opacity: 0;
  scale: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.sect-right img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.sect-right video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  opacity: 0;
  object-fit: cover;
 
}


.section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 12rem;
}


#page7 {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr;
  padding: 10rem 10rem;
  flex-wrap: wrap;

  & button {
    background-color: #0DA34E;
    border: none;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: sticky;
    top: 15%;

    & i {
      transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      font-size: 1.4rem;
      margin-left: 20px;
    }
  }

}

#page7 #page7-right {
  width: 75%;
  padding: 0 2rem;

  & h3 {
    float: left;
    padding-right: 18rem;
    margin-top: 3rem;
    color: #d0d0d0;
  }

  & p {
    font-size: 3.1rem;
    line-height: 1.4;
    font-weight: 300;
  }


}


#page7-content {

  width: 100%;
  /* background-color: #0DA34E; */
  margin-top: 5rem;
  padding: 5rem 0;


  & h1 {
    font-size: 4.5rem;
  }

  & #flex {
    display: flex;
    gap: 1rem;
    margin-top: 4.5rem;
    margin-bottom: 5rem;

    & h4 {
      border: 1px solid white;
      border-radius: 5rem;
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      -ms-border-radius: 5rem;
      -o-border-radius: 5rem;
      padding: 0.8rem 1rem;
      font-weight: 900;
      font-size: 1.1rem;
      word-spacing: 2px;
      letter-spacing: 0.6px;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
    }

    & h4:hover {
      background-color: white;
      color: #000;
    }

  }


}


#page7-content .page7-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 0 7rem;
  /*background-color: #0DA34E;
  */
  border-top: 1px solid rgb(164, 162, 162);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.page7-elem text {
  width: 60%;
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 300;
}

.page7-elem h2 {
  font-size: 2.5rem;
  font-weight: 500;
  transition: all 0.3s ease-in;
}

.page7-elem i {
  font-size: 1.7rem;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transition: all 0.3s ease-in;
}

.over7 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #5252524c;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

#page7-content .page7-elem:hover {
  border-top: 2px solid white;
}

.page7-elem:hover h2 {
  padding-left: 1.5rem;

}

.page7-elem:hover i {
  padding-right: 1.5rem;
}

.page7-elem:hover>.over7 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}


summary::marker {
  content: "";



}


.uiux {
  border-top: 1px solid #333;
  padding: 3rem 0;
  position: relative;
}

.product {
  padding: 3rem 0;
  border-top: 1px solid #333;
  position: relative;
}


#arrow {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.7rem;

}


#page8 {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding: 10rem 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#page8 h1 {
  color: #000;
  font-size: 8rem;
  text-align: start;
  font-weight: 700;
  line-height: 0.9;
  text-align: center;
  width: 60%;
  margin-left: 4rem;

}

#page8box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5rem;
  margin-top: 12rem;
}

#page8 .page8left {
  width: 100%;
  height: 100%;
  /* background-color: #0DA34E; */
  display: flex;
  justify-content: center;
}

.bluere {
  background-color: rgb(0, 89, 255);
  height: 50px;
  width: 230px;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 15%;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.bluere h4 {
  color: white;
  position: absolute;
  font-size: 1.3rem;
  font-weight: 400;
}







#page8 .page8right {
  /* background-color: #0DA34E; */
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  gap: 10rem;
  padding-bottom: 10rem;
}


#page8 .page8right p {
  color: #000;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
}


.page8bottem {
  width: 100%;
  height: 60vh;
  border-top: 1px solid #cdcdcd;
  /* background-color: #111; */
  display: flex;
}

#bottom8-part1 {
  width: 30%;
  border-left: 1px solid #cdcdcd;
}

#bottom8-part2 {
  width: 25%;
  border-left: 1px solid #cdcdcd;


}

#bottom8-part3 {
  width: 20%;
  border-left: 1px solid #cdcdcd;


}

#bottom8-part4 {
  width: 20%;
  border-left: 1px solid #cdcdcd;


}

#bottom8-part5 {
  width: 15%;
  border-left: 1px solid #cdcdcd;
}




.page8bottem h5 {
  padding: 2rem .5rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #000;
}

.page8bottem h4 {
  width: 200px;
  height: 50px;
  background-color: #000;
  margin-bottom: 0.5rem;
  display: inline-flex;
  font-size: 1.5rem;
  margin-left: .5rem;
  display: flex;
  align-items: center;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  font-weight: 400;
}


.page8bottem h4 span {
  padding: 1rem 1.5rem;
  background-color: #605f5f;
  margin: 0 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}



#bottom8-part2 h4:nth-child(2) {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#bottom8-part2 h4:nth-child(3) {
  transform: translateX(15%);
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -ms-transform: translateX(15%);
  -o-transform: translateX(15%);
}

#bottom8-part2 h4:nth-child(4) {
  transform: translateX(25%);
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%);
}

#bottom8-part2 h4:nth-child(5) {
  transform: translateX(35%);
  -webkit-transform: translateX(35%);
  -moz-transform: translateX(35%);
  -ms-transform: translateX(35%);
  -o-transform: translateX(35%);
}

#bottom8-part2 h4:nth-child(6) {
  transform: translateX(45%);
  -webkit-transform: translateX(45%);
  -moz-transform: translateX(45%);
  -ms-transform: translateX(45%);
  -o-transform: translateX(45%);
}

#bottom8-part2 h4:nth-child(7) {
  transform: translateX(55%);
  -webkit-transform: translateX(55%);
  -moz-transform: translateX(55%);
  -ms-transform: translateX(55%);
  -o-transform: translateX(55%);
}


#bottom8-part3 h4:nth-child(2) {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#bottom8-part3 h4:nth-child(3) {
  transform: translateX(15%);
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -ms-transform: translateX(15%);
  -o-transform: translateX(15%);
}

#bottom8-part4 h4:nth-child(2) {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#bottom8-part4 h4:nth-child(3) {
  transform: translateX(15%);
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -ms-transform: translateX(15%);
  -o-transform: translateX(15%);
}

#bottom8-part4 h4:nth-child(4) {
  transform: translateX(25%);
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%);
}

#bottom8-part4 h4:nth-child(5) {
  transform: translateX(35%);
  -webkit-transform: translateX(35%);
  -moz-transform: translateX(35%);
  -ms-transform: translateX(35%);
  -o-transform: translateX(35%);
}


#page9 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 0 10rem 0 10rem;
}


.footerHead{
  width: 100%;
  height: 60vh;
  padding: 3rem 3rem;
  /* background-color: #333; */
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(133, 133, 133);
  
}

.footerHead h1 {
  font-size: 6.5rem;
  /* margin-left: 3rem; */
  font-weight: 600;

}

.leftfooterHead{
  width: 350px;
  /* margin-right: 5rem; */
  display: flex;
  flex-direction: column;
 gap: 3rem;
}

.leftfooterHead div{
  position: relative;
}

.leftfooterHead div label {
 position: absolute;
 font-size: 1.7rem;
 top: 1rem;
 left: 1rem;
 transition:all 0.3s linear ;
 -webkit-transition:all 0.3s linear ;
 -moz-transition:all 0.3s linear ;
 -ms-transition:all 0.3s linear ;
 -o-transition:all 0.3s linear ;
}
.leftfooterHead div input {
  background-color: #000;
  border: none;
  border-bottom: 1px solid rgb(160, 158, 158);
   font-size: 2rem;
   padding: 1rem 0;
   width: 300px;
   outline: none;
   color: white;
}

.leftfooterHead div h4 {
  color: #6a6868;
  word-spacing: -1.5px;
  margin-bottom: 2rem;
}

.leftfooterHead div {
  word-wrap: break-word;
}
.leftfooterHead div h3 {
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #6a6868;
  display: inline-block;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}


.footercenter{
  width: 100%;
  height: 45vh;
  /* background-color: #0DA34E; */
  border-top: 1px solid rgb(146, 145, 145);

}


.footercenter {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.footercenter .footer-link{
  display: flex;
  gap: 4rem;

}

.footercenter .footer-link h4 {
  color:#585858 ;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.footercenter .footer-link h3 {
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
  letter-spacing: -0.1rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.footercenter .footer-link h3:hover {
  color:#585858 ;
}


.footer-right h3{
  color:#585858 ;
}

.footer-right h1 {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  margin: 2rem 0 4rem;
}

.footer-right div span {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.footer-right div {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 280px;
  flex-wrap: wrap;
}

.footer-right div p {
  font-size: 1.5rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.footer-right div p:hover {
  color: #535353;
}


.footerbottom {
  width: 100%;
  height: 20vh;
  /* background-color: #0DA34E; */
  border-top: 1px solid #535353;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.footerbottom h3 {
  font-size: 1.5rem;
}

.footerbottom div {
  display: flex;
  gap: 20rem;
}





.curser{
  width: 25px;
  height: 25px;
  background-color: white;
  mix-blend-mode:difference;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  top:0;
  z-index: 9999;
  scale:0
}